// Base Color
$base-white: #ffffff;
$base-black: #000000;

// Yellow Circle
$main-yellow-circle: #fff173;
$side-main-circle-01: #f6ff8e;
$side-main-circle-02: #f9fed0;
$side-main-circle-03: #fbffe6;

// Gray
$gray-50: #f9fafb;
$gray-100: #f2f4f7;
$gray-200: #eaecf0;
$gray-300: #d0d5dd;
$gray-500: #667085;
$gray-600: #475467;
$gray-700: #344054;
$gray-900: #101828;

// Heart Gradient
$heart-grad: linear-gradient(153.06deg, #db3445 -0.31%, #f71735 99.69%);

// Rose
$rose-500: #f63d68;

// Pink
$pink-300: #faa7e0;

// Warning
$warning-25: #fef0c7;
$warning-700: #b54708;

// Orange Dark
$orange-dark-50: #fff4ed;
$orange-dark-400: #ff692e;
$orange-dark-600: #e62e05;
